:root {
    --primary-card-color: #4d6dff;
}

@font-face {
    font-family: ghotic;
    src: url(./font/GothicA1-Regular.ttf);
}

body {
    background-color: gray;
    margin: auto;
    padding: 140px;
    padding-top: 50px;
    font-family: ghotic;
}

.card {
    width: 375px;
    height: 375px;
    background-color: #ffffff;
    background: #fff;
    border-width: 0.1px;
    border-style: ridge;
    justify-content: center;
    text-align: center;
    padding: 10px;
    padding-top: 0px;
    display: inline-block;
    position: relative;
}

.content {
    width: auto;
    padding: 10px;
    background: #e6e7e9;
    text-align: center;
}

.picture {
    position: relative;
    height: 160px;
    width: auto;
    margin: auto;
    margin-top: 50px;
}


.title {
    font-weight: 500;
    padding-top: 65px;
    padding-left: 20px;
    text-align: left;
    margin: 0;
}

.price {
    padding-top: 5px;
    padding-left: 20px;
    text-align: left;
    color: #415dda;
    margin: 0;
    font-weight: 600;
}

.button {
    opacity: 0;
    position: absolute;
}

.category {
    position: absolute;
    opacity: 0;
}

.sale {
    position: absolute;
    opacity: 0;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

    /* Styles */
    .card:hover .sale {
        top: 10%;
        left: 80%;
        color: #fff;
        opacity: 1;
        background: black;
        font-weight: 600;
    }

    .card:hover .category {
        top: 10%;
        left: 8%;
        color: #fff;
        opacity: 1;
        font-weight: 600;
    }

    .card:hover {
        /*background: #415dda;*/
        box-shadow: 1px 1px 15px var(--primary-card-color);

        background-color: var(--primary-card-color);
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .7) 100%);
        background-repeat: no-repeat;
        background-size: 200% 100%;
        transition: background-size 0.5s, background-color 0.3s, border-color 1s;
/*        background: #4d6dff;*/
        border-color: var(--primary-card-color);
    }

    .card:hover .picture {
        opacity: 0.15;
    }

    .card:hover .title {
        color: #fff;
    }

    .card:hover .price {
        color: #fff;
    }

    .card:hover .button {
        opacity: 0.8;
        position: absolute;
        left: 8%;
        top: 40%;
        display: inline-block;
        padding: 14px 50px;
        border: none;
        border-radius: 74px;
        background: #ffffff;
        font: 14px ghotic;
        font-weight: 600;
        color: #111111;
        text-decoration: none;
        cursor: pointer;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    }

    .card:hover .button:hover {
        background: #999999;
        background: -webkit-gradient(linear, left top, left center, from(#EEEEEE), to(#ffffff));
        background: -moz-linear-gradient(top, #EEEEEE, #ffffff);
        background: linear-gradient(to center, #EEEEEE, #ffffff);
        opacity: 0.8;
    }

    .card:hover .button:active {
        background: #DFDFDF;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#DFDFDF));
        background: -moz-linear-gradient(top, #DFDFDF, #fff);
        background: linear-gradient(to bottom, #DFDFDF, #ff);
        opacity: 0.8;
    }

    .card:hover .button:focus {
        outline: none !important;
    }


    .card:hover .share-button {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 12px 14px;
        border: 0px solid #364eb7;
        border-radius: 100px;
        background: #415dda;
        background: -webkit-gradient(linear, left top, left bottom, from(#6693ff), to(#364eb7));
        background: -moz-linear-gradient(top, #6693ff, #364eb7);
        background: linear-gradient(to bottom, #6693ff, #6693ff);

        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
        font: normal normal normal 22px arial;
        text-decoration: none;
        left: 60%;
        top: 40%;
        position: absolute;
        opacity: 0.7;
    }

    .card:hover .share-button:hover {
        border: 0px solid #405cd7;
        background: #7ab0ff;
        background: -webkit-gradient(linear, left top, left bottom, from(#7ab0ff), to(#415edc));
        background: -moz-linear-gradient(top, #7ab0ff, #415edc);
        background: linear-gradient(to bottom, #7ab0ff, #415edc);
        color: #ffffff;
        text-decoration: none;
    }

    .card:hover .share-button:active {
        background: #364eb7;
        background: -webkit-gradient(linear, left top, left bottom, from(#364eb7), to(#364eb7));
        background: -moz-linear-gradient(top, #364eb7, #364eb7);
        background: linear-gradient(to bottom, #364eb7, #364eb7);
    }

    .card:hover .share-button:before {
        content: "\0000a0";
        display: inline-block;
        height: 24px;
        width: 24px;
        line-height: 24px;
        margin: 0 4px -6px -4px;
        position: relative;
        top: 0px;
        left: 2px;
        opacity: 0.5;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABMElEQVRIic2WS07DMBCGvwxRhaouWJU1F+EMvQYH4nJ0xaKLwrapEEgOi4yTUfyKSReMNPJvZzyPP+M4DSBM0gIb6uSae9jq6IAD8Ao8VDp/MkEcU8IjFg10AvpK7YCdCSgxLGrURTasljaxLma8r/D3xUBN4CxWwYGBtq5CT7pvTLJRsAXO+uARuOh8T6FLZrIFPtSHAC5H0V5Ltl1Scv6u+0aKUwGcGa8MFYlZT2E7CuBsW5UkeHlLpNRFqfl8LWUvqQrm2drSUzhq/1eKUjiwX0NRTiQAseiR+f+myB6mm1HkA/jvusexkpcctMDeXjiXQlarKcrRcJMuWtQVGZyyT2Z3pv4K7Zk++wDcMdwJvQZqjB6BZ7X5WaifwAvw5v34C8eWaOcb6n5jvlVHP78jqpLLTNsiUgAAAABJRU5ErkJggg==") no-repeat left center transparent;
        background-size: 100% 100%;
    }
}

.button:before {
    content: "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -11px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABuUlEQVRIia2Uv0oDQRDGfzlCkHBFqpSC4EOIna2FBAvxAUQEU/kAtmJp4QNY+wBWVqlF22AhIocE60RD9M7iZnNzc7vnBVwYbm72m/l2vv3TAiKaj658Z00T2iYR4AtIxU/VArrAi/gbikRjvH4MfABTsXNFpruLFSYOYLy+JsjE7ylQLNZXBH0VDxGUgg48EpIzFXfknzKXiT+VOUeyBtwDJ+TSR45Qs+5KgUQSnCxZwLRcQ4mNgY6uqwnawIMAj02ndXvQk24yYN/WjYwdCPBZrcTJpQl0zoXkjIw8FYmQomNJOGzQwbrEfoBt01nZUeNICB4p7ooekfreCPaWwImyErkT8SaJA4pTZm0LWABzYDNQq9KB+78UggWFNNbmgrnyqFErURd4pXzmQ3ZHcTErQ+uriYbkm/cE7ADfgfyU/O0KLdQ70Sa/aPpMW9xKfh3BKmaP77KYJUqBU+CaGm09wz3fpQW3JJCqmPvviK0yZqrWsq5vcwbARGxQU7ARTt/KiOoeTPBfoAh4V7iE6jsU6dWnlKXCzFmMxUYhjE+iPVldwt8SJYL14vQmh56MUFeNcaHC/+L/AiTUmP6HDAW+AAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}

/* iPads (portrait) ----------- */
@media only screen and (max-device-width : 1024px) {

    /* Styles */
    .button {
        position: absolute;
        opacity: 1;
        left: 60%;
        top: 70%;
        display: inline-block;
        padding: 12px 32px;
        border: #415dda 1px solid;
        border-radius: 74px;
        background: #fff;
        text-shadow: #ffffff 1px 1px 1px;
        font: normal normal normal 15px ghotic;
        color: #111;
        text-decoration: none;
        cursor: pointer;
    }

    .card:hover {}

    .card:hover .button {}

    .button:before {
        content: "\0000a0";
        display: inline-block;
        height: 18px;
        width: 18px;
        line-height: 24px;
        margin: 0 4px -6px -4px;
        position: relative;
        top: 2px;
        left: -10px;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABuUlEQVRIia2Uv0oDQRDGfzlCkHBFqpSC4EOIna2FBAvxAUQEU/kAtmJp4QNY+wBWVqlF22AhIocE60RD9M7iZnNzc7vnBVwYbm72m/l2vv3TAiKaj658Z00T2iYR4AtIxU/VArrAi/gbikRjvH4MfABTsXNFpruLFSYOYLy+JsjE7ylQLNZXBH0VDxGUgg48EpIzFXfknzKXiT+VOUeyBtwDJ+TSR45Qs+5KgUQSnCxZwLRcQ4mNgY6uqwnawIMAj02ndXvQk24yYN/WjYwdCPBZrcTJpQl0zoXkjIw8FYmQomNJOGzQwbrEfoBt01nZUeNICB4p7ooekfreCPaWwImyErkT8SaJA4pTZm0LWABzYDNQq9KB+78UggWFNNbmgrnyqFErURd4pXzmQ3ZHcTErQ+uriYbkm/cE7ADfgfyU/O0KLdQ70Sa/aPpMW9xKfh3BKmaP77KYJUqBU+CaGm09wz3fpQW3JJCqmPvviK0yZqrWsq5vcwbARGxQU7ARTt/KiOoeTPBfoAh4V7iE6jsU6dWnlKXCzFmMxUYhjE+iPVldwt8SJYL14vQmh56MUFeNcaHC/+L/AiTUmP6HDAW+AAAAAElFTkSuQmCC") no-repeat left center transparent;
        background-size: 100% 100%;
    }
}
